<ion-content padding>
  <ion-row class="logo-container ion-justify-content-center ion-align-items-center" style="height: 40%;">
    <img src="assets/logos/grey500.png" class="logo" />
  </ion-row>
  <ion-row style="height: 20%;" class="ion-justify-content-center">
    <ion-col size="12" class="ion-text-center">
      <div text-center>
        <h3>W E L C O M E !</h3>
        <h3>සාදරයෙන් පිළිගන්නෙමු !</h3>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="button-row ion-justify-content-center ion-align-items-center" style="height: 40%;">
    <ion-col class="ion-text-center">
      <ion-row class="button-row ion-justify-content-center ion-align-items-center">
        <ion-col size="10">
          <ion-button fill="outline" expand="block" id="btn-english" (click)="onEnglishSelected()">
            English
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="button-row ion-justify-content-center ion-align-items-center">
        <ion-col size="10">
          <ion-button fill="outline" expand="block" id="btn-sinhala" (click)="onSinhalaSelected()">
            සිංහල
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-content>