
<ion-content style="position: relative;">
  <ion-row style="position: absolute; top: 10px; right: 10px;"><ion-icon (click)="dismiss()" style="color: #BBDEFB; font-size: 32px;" name="close"></ion-icon></ion-row>
  <section class="section-footer">
    <div class="clearfix">&nbsp;</div>
    <div class="footer-container text-align-center ion-text-center">
      <p class="t-aim">" As a Social Service "</p>
      <p class="t-by">by :</p>
      <p class="t-name" id="n-udith">Udith Gayan Indrakantha</p>
      <p class="t-uom">( IT faculty, University of Moratuwa )</p>
      &
      <p class="t-name" id="n-ishara">Ishara Dilshan</p>
      <p class="t-uom">( NDT, University of Moratuwa )</p>
      <p class="t-contact">Contact :</p>
      <p class="t-email">E-mail : udith@edu.edvicon.org</p>
      <ul class="">
        <li><a href="https://www.facebook.com/udith.indrakantha.1" target="_blank"><img width="25px" src="assets/icons/fb-red.png" /></a></li>
        <li><a href="https://www.linkedin.com/in/udith-indrakantha/" target="_blank"><img width="25px" src="assets/icons/linkedin-red.png" /></a></li> |
        <li><a href="https://www.linkedin.com/in/ishara-dilshan-5b463b191/" target="_blank"><img width="25px" src="assets/icons/linkedin-blue.png" /></a></li>
        <li><a href="https://www.facebook.com/ishara.dilshan.98" target="_blank"><img width="25px" src="assets/icons/fb-blue.png" /></a></li>
      </ul>
    </div>
    <div class="clearfix">&nbsp;</div>
  </section>
</ion-content>

